
<h1>Create DO</h1>
<form>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="bspDoNo">BSP DO No.</label>
        <input type="number" class="form-control" id="bspDoNo" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="areaDoNo">Area DO No.</label>
        <input type="text" class="form-control" id="areaDoNo" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="doNo">DO No.</label>
        <input type="text" class="form-control" id="doNo" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="alterEgo">DO Date</label>
        <md-datepicker class="form-control"></md-datepicker
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success">Create</button>

</form>
