
    <div class="row">
        <div class="col-md-6">
          <div class="">
            <input id="selectAll-check" class="icon-checkbox" type="checkbox" />
            <label for="selectAll-check" (click)="onSelectAll()">
              <span class='glyphicon glyphicon-unchecked unchecked'></span>
              <span class='glyphicon glyphicon-check checked'></span>
              Select All DO
            </label>
          </div>
          <div *ngFor="let activeDO of activeDoList">
            <input id="{{activeDO.doId}}-check" [checked]="selectAll" class="icon-checkbox" type="checkbox" />
            <label for="{{activeDO.doId}}-check" (click)="activeDO.selected = !activeDO.selected">
              <span class='glyphicon glyphicon-unchecked unchecked'></span>
              <span class='glyphicon glyphicon-check checked'></span>
              {{activeDO.doDesc}}
            </label>
          </div>
          <div class="">
            <button type="button" name="Proceed" (click)="onProceed()" class="btn btn-primary">Proceed</button>
          </div>
        </div>
    </div>
